
<div class="k-widget k-calendar key">
	<table class="k-content" cellspacing="0">
		<caption>Key</caption>
		<tr>
			<td class="item"><a class="k-link" href="#" title="Indicates an available date"><div class="dt dt-available"><span>29</span></div></a></td>
			<td class="label" title="Indicates an available date">Available</td>

			<td class="item"><a class="k-link" href="#" title="Indicates a booked date"><div class="dt dt-b"><span>29</span></div></a></td>
			<td class="label" title="Indicates a booked date">Booked</td>

			<td class="item"><a class="k-link" href="#" title="Indicates a provisionally booked date"><div class="dt dt-p"><span>29</span></div></a></td>
			<td class="label" title="Indicates a provisionally booked date">Provisional</td>

			<td class="item"><a class="k-link" href="#" title="Indicates a changeover date"><div class="dt dt-b-pm"><span>29</span></div></a></td>
			<td class="label" title="Indicates a changeover date">Changeover</td>
						
			<td class="k-other-month item"><a href="#" title="A date in another month"><div class="dt dt-available"><span>1</span></div></a></td>
			<td class="label" title="A date in another month">Other month</td>
		</tr>
	</table>
</div>
