
<div class="copyright">
	&copy; Copyright @DateTime.Now.Year.ToString() <a href="http://www.netricity.co.uk/" title="Independant web developer Manchester - Netricity Ltd" target="_blank">Netricity Ltd</a>
</div>
