
<div id="footer">
	<ul id="footer-nav">
		<li class="item">
			&copy; Copyright @DateTime.Now.Year.ToString() <a href="http://www.netricity.co.uk/" title="Independant contract web developer Manchester - Netricity Ltd" target="_blank">Netricity Ltd</a>
		</li>
		<li class="sep">&nbsp;</li>
		<li class="item">
			Further details available on <a href="http://www.holidaylettings.co.uk/rentals/los-cristianos/360113" target="_blank" title="HolidayLettings.co.uk">HolidayLettings.co.uk</a>
		</li>
	</ul>
</div>
