@{
	ViewBag.Title = "Feedback for 1 bed holiday let apartment in Los Cristianos, Tenefire - Holiday apartment for rent in Los Cristianos, Tenerife, Canary Islands";
}

<h1>Feedback for 1 bed holiday let apartment in Los Cristianos, Tenefire</h1>

<p>
	See below some of the feedback left by guests who've stayed at our holiday apartment.
</p>

<p>
	Fill in this form to let us know what you're looking for.
</p>

todo - display vetted feedback list

@Html.

@*@Html.Partial("_EnquiryForm", new ViewDataDictionary { { "id", "enquiryForm1" } })*@
